Checks:          'clang-diagnostic-*,google-*,performance-*,clang-analyzer-*,bugprone-*,readability-*,-readability-braces-around-statements,-bugprone-argument-comment,-google-readability-braces-around-statements,-readability-implicit-bool-conversion'
